body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    max-width: 90%;
    background-color: $backgroudColorContainer;
    display: flex;

  }